@use "../core/mixins" as m;

.mainAdmin {
  .container {
    display: flex;
    @include m.xl {
      flex-direction: column;
    }

    .adminTabs {
      position: fixed;
      height: 100%;
      top: 0;
      left: 0;
      width: 20%;
      border-right: 1px solid #000;
      z-index: 900;

      @include m.transition(0.5s);
      .opacitynav {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #00000077;
      }
      .adminNav {
        top: 0;
        width: 100%;
        left: 0;
        @include m.transition(0.5s);
      }

      &.isActive {
        opacity: 1;
        visibility: visible;
        .adminNav {
          left: 0;
        }
      }
      @include m.xl {
        opacity: 0;
        visibility: hidden;
        width: 100%;
        border: none;
        .adminNav {
          width: 40%;
          left: -100%;
        }
      }
      @include m.sm {
        .adminNav {
          width: 80%;
        }
      }

      &__top {
        &-title {
          font-size: 20px;
          font-family: m700;
          text-transform: uppercase;
        }
      }

      &__list {
        .listMenu {
          &__item {
            font-family: m500;
            display: block;
            padding: 20px 0;
            font-size: 1.8rem;
            @include m.transition(0.3s);
            &.active {
              text-decoration: underline;
              color: var(--primary-color);
            }
            &:hover {
              text-decoration: underline;
              color: var(--primary-color);
            }
          }
        }
      }
    }
    .leftAdmin {
      width: 80%;
      padding-left: 5%;
      @include m.xl {
        width: 100%;
        margin-left: 0;
        padding-left: 0;
      }
    }
    .adminInfor {
      @include m.xl {
        width: 100%;
      }
      &__title {
        font-size: 34px;
        font-family: m700;
        text-transform: uppercase;
      }

      &__search {
        margin-top: 30px;
        height: 40px;
      }
      &__actions {
        @include m.lg {
          .btn {
            width: 100%;
          }
        }
      }
      // desktop admin list
      &__list {
        width: 100%;
        margin-top: 30px;
        text-align: center;
        &-head {
          font-size: 1.6rem;
          font-family: m700;
          color: #000;
          border-bottom: 1px solid #00000020;
          th {
            font-family: m700 !important;
          }
        }
        th,
        td {
          position: relative;
          padding: 12px 8px;
          font-family: m600;
          min-width: 70px;
          .avatarUser {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .thumbItem {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .tagAdmin {
            display: inline-block;
            padding: 2px 8px;
            border-radius: 10px;

            word-break: keep-all;
          }
          .adminrole {
            background: #dd3a33;
            color: #ffe9ea;
          }
          .userrole {
            background: #68bb59;
            color: #fff;
          }
          .maleGender {
            background: #2999ed;
            color: #fff;
          }
          .femaleGender {
            background: #ffb3df;
            color: #fff;
          }
        }
        td {
          word-break: break-word;
        }
      }
      // Mobile admin list
      &__list.mobile {
        .adminInfor__list-row {
          th,
          td {
            border: 2px solid black;
          }
          .title {
            font-family: m700;
          }
          .action {
            flex-wrap: wrap;
          }
        }
      }

      .tablesInfo {
      }

      .createAd {
        color: #3b82f6;
        font-size: 1.8rem;
        font-family: m700;
        text-decoration: underline;
        @include m.transition(0.3s);
        &:hover {
          opacity: 0.7;
        }
      }
      .AddAdmin {
        color: var(--primary-color);
        font-size: 1.8rem;
        font-family: m700;
        text-decoration: underline;
        @include m.transition(0.3s);
        &:hover {
          opacity: 0.7;
        }
      }

      &__pagi {
        margin-top: 30px;
        display: flex;
        justify-content: center;
      }
    }
  }
}
