@use "../core/mixins" as m;

.mainProfile {
    .container {
        display: flex;
        gap: 30px;
    }
    .ant-divider {
        user-select: none;
    }
    .btn {
        @include m.transition(0.3s);
        &:hover {
            opacity: 0.7;
        }
    }
    .profileInfor {
        width: 35%;
    }
    .profileContent {
        width: 65%;
        display: flex;
        flex-direction: column;
        gap: 28px;

        &__card {
            padding: 30px;
            border: 1px solid var(--color-border-grey);
            &-listCard {
                display: flex;
                flex-direction: column;
                gap: 30px;
            }
            strong {
                font-family: m700;
            }

            .link {
                font-family: m500;
                color: var(--primary-color);
                @include m.transition(0.3s);
                &:hover {
                    opacity: 0.7;
                }
            }
            &.Buyingcard {
                font-size: 1.6rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                gap: 10px;
            }
            &.gigcard {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                .gigcard__text {
                    font-size: 1.8rem;
                    font-family: m600;
                }
                .btn:hover {
                    opacity: 0.7;
                }
            }
        }
    }
    // card infor profile
    .cardInforProfile + .cardInforProfile {
        margin-top: 30px;
    }
    .cardInforProfile {
        padding: 30px;
        border: 1px solid var(--color-border-grey);

        .editIcon {
            cursor: pointer;
            color: var(--text-color-body-2);
            @include m.transition(0.3s);
            &:hover {
                color: var(--primary-color);
            }
        }
        &__avatar {
            position: relative;
            .exitIcon {
                position: absolute;
                left: 0px;
                top: 0px;
                cursor: pointer;
                @include m.transition(0.3s);
                &:hover {
                    color: var(--primary-color);
                }
            }
            &-img {
                display: flex;
                flex-direction: column;
                align-items: center;
                .emailUser {
                    margin-top: 15px;
                    color: var(--text-color-body-3);
                    font-family: m700;
                    font-size: 2rem;
                    .editIcon {
                        margin-top: 4px;
                        margin: 0 auto;
                    }
                }
                .avatarUser {
                    cursor: pointer;
                    border-radius: 50%;
                    height: 150px;
                    width: 150px;
                    object-fit: cover;
                }
            }
        }
        &__title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .title {
                color: var(--text-color-body-3);
                font-family: m700;
                font-size: 1.6rem;
            }
        }
        &__content {
            .item {
                padding: 8px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @include m.transition(0.3s);
                .title {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    font-family: m700;
                }
                .infor {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
                .hightlight {
                    font-family: m500;
                }
                .link {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
